body {
  margin: 0;
  background: #302e2b;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

  font-size: 15px;

  user-select: none;
}

header {
  background: #262522;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  }
  
.header-fast-link {
  color: #ccc;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

main {
  background: #181a1b;
  color: #ccc;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

#rules {  
  font-family: Arial, sans-serif;
  font-size: 17px;

  width: 80vh;
  display: flex;
  flex-direction: column;
}

footer {
  background: #262522;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfde;
  font-size: 1.1rem;
}
