body {
  margin: 0;
  background: #302e2b;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

  font-size: 15px;

  user-select: none;
}

header {
  background: #262522;
  display: flex;
  justify-content: left;
  align-items: center;
}

main {
  background: #181a1b;
  color: #ccc;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-row-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttons-row {
  display: flex;
  gap: 10px;
}

.menu-button {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 80px;
}

footer {
  background: #262522;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfde;
  font-size: 1.1rem;
}
