body {
  margin: 0;
  background: #302e2b;

  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;

  font-size: 15px;

  user-select: none;
}

header {
  background: #262522;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.header-fast-link {
  color: #ccc;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-status {
  color: #ccc;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

footer {
  background: #262522;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfde;
  font-size: 1.1rem;
}
